* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: url(wp10090368.jpg);
    background-position: center;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1000px;
    background: rgba(220, 220, 220, 0.5);
    padding: 2rem 5rem;
    border-radius: 5px;
    box-shadow: 0 20px 40px;
}

.h-text {
    font-size: 25px;
}

.input-text {
    margin: 25px 0 30px;
}

.input-text input {
    width: 100%;
    height: 70px;
    border: 1px solid rgb(220, 220, 220);
    transition: 0.1s ease;
    outline: none;
    padding: 0 10px;
    font-size: 25px;
    border-radius: 5px;
}

.input-text button {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(to right, #dcdcdc, #000000);
    color: white;
}

.output-text {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    display: none;
}